.todo__list {
  .list {
    ul {
      list-style: none;
      display: block;
      background: #fff;
      box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
      width: 600px;
      margin: 20px auto;
      padding: 20px 30px;
      transition: all 0.7s;
      overflow: hidden;
      li {
        font-size: 22px;
        color: black;
        text-align: center;
      }
      &:hover {
        background: #ff1744;
        cursor: pointer;
        li {
          color: white;
        }
      }
    }
  }
}
